.ToDo-list-div{
width: 600px;
min-height: 600px;
border: 2px solid;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
background-image: url("https://img.freepik.com/free-vector/blank-white-notepaper-design-vector_53876-161340.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1726963200&semt=ais_hybrid");

}

.Todo-Task{
list-style: none;
width: 450px;
min-height: 50px;
display: flex;
justify-content:left;
align-items: center;
font-size: 25px;
flex-wrap: wrap;


}
.Todo-Item{
    display: flex;
    padding-left: 20px;
    background-color: rgba(77, 82, 82, 0.199);
    -webkit-box-shadow: -5px -5px 5px -5px rgba(5, 5, 6, 0.6) inset;
    -moz-box-shadow: -5px -5px 5px -5px rgba(5, 5, 6, 0.6) inset;
    box-shadow: -5px -5px 5px -5px rgba(5, 5, 6, 0.6) inset;
}

.Todo-Item:hover{
    background-color: rgba(106, 109, 109, 0.133);
}
.Todo-Delete-Button{
    width: 35px;
    height: 55px;
    border: none;
    background-color: aliceblue;
}
.Todo-Delete-Button > img{
    width: 20px;
    height: 20px;
}

@keyframes buttonTranslate {
    0% {
        transform: translateY(-5);
        background-color: transparent;
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-5);
    }
}

.Todo-Delete-Button > img:hover {
    animation: buttonTranslate 0.5s ease forwards;
}

.Todo-Button{
    border-radius: 50%;
       border: none;
    
}
.Todo-Form{
    display: flex;
    gap: 10px;
}
.Todo-Input{
width: 400px;
padding-left: 25px;
background-color: rgba(240, 248, 255, 0);
border: none;
border: 1px solid;
font-size: 20px;
margin-left: 70px;
}
.Todo-Button > img{
    border-radius: 50%;
width: 40px;
height: 40px;
}

@keyframes addTranslate {
    0% {
        transform: translateY(-5);
        background-color:currentColor;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-5);
    }
}
.Todo-Button > img:hover{
    animation: addTranslate 0.5s ease forwards;
}

h1{
    border-bottom: 4px solid black;
    width: 100%;
    text-align: center;
    display: flex;
  justify-content: center;

}

